.container{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  justify-content: center; /* centramos horizontalmente*/
  align-items: center; /*centramos verticalmente*/
  
}
.box {
  background-color: white;
  width: 400px; /*anchuara  */

  padding: 20px;
  display: flex;
  flex-direction: column;
}

.box > h1, .box > input, .box > select, .box > button{
  margin-top: 15px;
}

.box > button{
  margin-top: 15px;
  cursor: pointer;
  background-color: aquamarine;
  border:none;
  border-radius: 5px;


}

.tarea{
  display: flex;
  padding: 18px;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  transition: 0.3s;
}
.tarea:hover{
  background-color: lightblue;
}
.busqueda{
  margin-bottom: 15px;
  padding: 5px;
  border: 100%;
}

